<blockquote class="quote">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti fugiat
    non ut dolores repudiandae! Maxime repellat possimus odio perspiciatis?
    Accusamus id enim corrupti omnis saepe perspiciatis neque corporis at
    numquam?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Nazia suleman</h3>
        <p class="quote__org">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
